*.swp
*.profile*
app/no-OS
app/mbed_platform_drivers
app/adi_console_menu
app/tempsensors
mbed-os
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
tests/.pytest_cache
tests/__pycache__
tests/func/__pycache__
tests/output