*.swp
*.profile*
build
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
STM32/nucleo_h563/.settings
STM32/nucleo_h563/Core
STM32/nucleo_h563/Drivers
STM32/nucleo_h563/Debug
STM32/nucleo_h563/.cproject
STM32/nucleo_h563/.project
STM32/nucleo_h563/.mxproject
STM32/nucleo_h563/ad4170_iio Debug.launch
STM32/nucleo_h563/STM32H563ZITX_FLASH.ld
STM32/nucleo_h563/STM32H563ZITX_RAM.ld
STM32/sdp_k1/.settings
STM32/sdp_k1/Core
STM32/sdp_k1/Drivers
STM32/sdp_k1/Debug
STM32/sdp_k1/.cproject
STM32/sdp_k1/.project
STM32/sdp_k1/.mxproject
STM32/sdp_k1/ad4170_iio Debug.launch
STM32/sdp_k1/STM32F469NIHX_FLASH.ld
STM32/sdp_k1/STM32F469NIHX_RAM.ld
STM32/sdp_k1/Middlewares
STM32/sdp_k1/USB_DEVICE
STM32/sdp_k1/*.launch
STM32/sdp_k1/*.cfg
scripts/__pycache__
tests/.pytest_cache
tests/__pycache__
tests/func/__pycache__
tests/output
*.vgdbsettings
*.vcxproj
*.props
*.xml
*.vcxproj.filters