*.swp
*.profile*
*.txt
mbed-os/
app/no-OS/
app/board_info/
build
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
scripts/__pycache__
tests/.pytest_cache
tests/__pycache__
tests/func/__pycache__
tests/output