*.swp
*.profile*
build
app/no-OS
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
STM32/.settings
STM32/Core
STM32/Drivers
STM32/Debug
STM32/.mxproject
STM32/.cproject
STM32/.project
STM32/*.launch
STM32/STM32L552ZETXQ_FLASH.ld
STM32/STM32L552ZETXQ_RAM.ld