*.swp
*.profile*
build
app/no-OS
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
tests/.pytest_cache
tests/__pycache__
tests/func/__pycache__
tests/output
STM32/.settings
STM32/Core
STM32/Drivers
STM32/Debug
STM32/.mxproject
STM32/.cproject
STM32/.project
STM32/*.launch
STM32/*.vgdbsettings
STM32/*.vcxproj
STM32/*.vcxproj.filters
STM32/stm32.props
STM32/stm32.xml
STM32/STM32F469NIHX_FLASH.ld
STM32/STM32F469NIHX_RAM.ld