name: Documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v3
      
      - name: Install dependencies
        run: |
          python -m pip install sphinx-toolbox
          pip install sphinx sphinx_rtd_theme myst_parser
      
      - name: Sphinx build
        run: |
          sphinx-build doc/sphinx _build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true
